*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
ul li{
    list-style-type: none;
    float: right;
    padding: 9px;
    align-items: center;
    
}
.container{
    background-color: rgb(0, 106, 255);
    width: 100%;
    height: 48px;
    
}
button{
    font-size: 1rem;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 10px;
    border: none;
    

}
.cont-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}
.sub{
    width: 90px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-family: sans-serif;

    
    background-color: #00bfff;
}
.sub:hover{
    background-color: #3276e4;
    border: .5px solid;
}
.sub:active{
    background-color: #87cefa;
    transform: translateX(0.5px) translateY(3px);
}

.cont-2{
    background-color: #0092af93;
    padding: 50px;
    border-radius: 10px;
    line-height: 1;
    width: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 3px solid ;
    backdrop-filter: blur(10px);
    
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    text-decoration: none;

}
th,tr,td{
    border: 2px solid;
    padding: 10px;
}
button:hover{
    transform: translateX(0.5px) translateY(3px);
}
button:active{
    transform: translateX(0px) translateY(0px);
}
.bt{
    min-width: 50%;
    line-height: 3;
    font-size: 2rem;
    
}
.bt:hover{
    box-shadow:2px 3px 10px 5px black;
}
#body{
    background-color: rgba(22, 207, 151, 0.714);
}
.lt{
    color: black;
    font-weight: bold;
}
h1{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}